html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container{
    width: 40%;
    max-width: 375px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.output{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    flex-grow: 1;
    background: rgb(0, 0, 0, .75);
    width: 100%;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
color: rgb(225, 225, 225, .75);
font-size: 24px;
}
.output .current-operand{
    color: white;
    font-size: 40px;
}
.input-container{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  
}
button{
    width: 25%;
    height: 70px;
    border: 1px solid white;
    background: rgb(225, 225, 225, .75);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}
button:hover{
    background: rgb(225, 225, 225, .9);
}

.span-two{
    width: 50%;
}